@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #141c2d, #22070e) fixed;
    zoom: 0.96;
}

.container-login {
    display: flex;
    background-color: #0c1317;
    border-radius: 15px;
    box-shadow: 0 0 50px #000000;
    overflow: hidden;
    height: 90%;
    margin: 7rem 0;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 10px 80px 10px;
    width: calc(100% - 50%);
}

.left-side {
    background-color: #0c1317;
    color: #ffffff;
    text-align: center;
}

.left-side p {
    margin: 0;
    font-size: 2em;
}

.left-side img.bottom-image {
    width: 80%;
    margin-top: 50px;
    border-radius: 10px;
}

.text-side .high {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.right-side {
    background-color: #141c2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 90%;
    display: flex;
    background-color: #0c1317;
    border-radius: 15px;
    box-shadow: 0 0 20px #000000;
    flex-direction: column;
    align-items: center;
}

.wisetime h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #ff426b;
}

.form-wise {
    width: 90%;
    max-width: 400px;
}

.form-wise form {
    display: grid;
    gap: 20px;
}

.form-wise p {
    color: #FF3366;
}

.email-form,
.pass-form {
    display: grid;
}

.email-form p,
.pass-form p {
    margin-bottom: 8px;
    font-size: 18px;
}

.email-form input,
.pass-form input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 93%;
}

.button-form {
    margin: 2rem 0;
    padding: 15px;
    width: 100%;
    background-color: #ff426b;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-form:hover {
    background-color: #e63957;
}

.low {
    color: #FF6687;
}

.high {
    color: #FF426B;
}

@media (max-width: 1550px) {

    html,
    body {
        zoom: 0.9;
    }
}

@media (max-width: 1300px) {

    html,
    body {
        zoom: 0.8;
    }
}

@media (max-width: 1064px) {

    html,
    body {
        display: block;
        margin: -0.5rem 3.3rem 1rem 2.2rem;
    }

    .wrapper-login {
        margin: -2rem -4.4rem 2rem -7.2rem;
    }
}

@media (max-width: 1024px) {
    .left-side {
        display: none;
    }

    .right-side {
        min-width: 100vh;
        width: 100%;
    }

    .login-box {
        width: 100%;
        height: 100vh;
        justify-content: center;
    }
}

@media (max-width: 690px) {

    html,
    body {
        display: block;
        padding: 0;
        justify-content: center;
        align-items: center;
        font-family: "Krona One", sans-serif;
        zoom: 0.8;
    }

    .container-login {
        height: 100%;
        width: 100%;
    }

    .right-side {
        height: 150vh;
        border-radius: 0px !important;
    }

    .login-box {
        width: 100%;
        height: 150vh;
        justify-content: center;
    }
}