@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Krona One', sans-serif;
    background: linear-gradient(to right, #141C2D, #22070e); /* Gradiente do preto para azul escuro */
}

.container-login {
    width: 1200px;
    height: 720px;
    background-color: #0C1317;
    border-radius: 15px;
    box-shadow: 0 0 50px #000000;
    display: flex;
    overflow: hidden;
}

.left-side, .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-side {
    background-color: #0C1317;
    color: #ffffff;
    text-align: center;
}

.left-side p {
    margin: 0;
    font-size: 1.2em;
}

.left-side p:not(:last-child) {
    margin-bottom: 20px;
}

.left-side img.bottom-image {
    width: 80%;
    margin-top: 50px;
    border-radius: 10px;
}

.right-side {
    background-color: #141C2D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 400px;
    height: 350px;
    padding: 20px;
    background-color: #0C1317;
    border-radius: 15px;
    box-shadow: 0 0 20px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right-side input {
    width: calc(100% - 20px);
    height: 20px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
}

.right-side button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF3366;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
}

.right-side button:hover {
    background-color: #FF0044;
}

.wisetime{
    margin-bottom: 15px;
}

.wisetime h1 {
    font-size: 25px;
}

.form-wise{
    width: calc(100% - 50px);
}

.form-wise p{
    color: #FF3366;
}

.email-form p {
    margin: 0;
    font-size: 14px;
}

.email-form {
    margin-bottom: 15px;
}

.pass-form {
    margin-bottom: 15px;
}

.pass-form p {
    margin: 0;
    font-size: 14px;
}

.button-form button{
    width: 100%;
}

.low{
    color: #FF6687;
}

.high{
    color: #FF426B;
}

.left-side p {
    font-size: 28px;
    margin-bottom: 3px !important;
}

