.topBar {
    display: flex;
    justify-content: space-between; /* Espaça os elementos nas extremidades */
    align-items: center; /* Centraliza verticalmente os elementos */
    margin: 0;
    padding: 0 20px; /* Adiciona um pouco de espaço nas laterais */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgb(17, 19, 29);
    position: fixed;
    height: 60px; /* Definindo uma altura fixa */
    box-sizing: border-box; /* Inclui padding e border no cálculo de altura */
}

.leftbar, .rightbar {
    display: flex;
    align-items: center; /* Centraliza verticalmente os elementos dentro das barras */
}

.leftbar h1, .rightbar p {
    margin: 0;
    padding-left: 10px; /* Espaço entre o ícone e o texto */
    color: white; /* Certifica-se de que o texto seja branco para melhor visibilidade */
}

.leftbar h1 {
    font-size: 20px; /* Tamanho da fonte igual ao tamanho do ícone */
    margin-left: 10px; /* Espaço entre o ícone e o texto */
    color: white; /* Cor do texto */
    display: inline; /* Para garantir que o texto fique ao lado do ícone */
}

.pink {
    color: #FF3366; /* Cor rosa */
}

.sidebar {
    position: absolute;
    top: calc(100% - 95%);
    left: 0;
    width: calc(100% - 85%);
    padding-top: 10px;
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ant-menu-item li:hover {
    background-color: #FF0044;
}

.ant-menu-item-selected{
    background-color: #FF3366 !important;
}

.ant-menu-dark{
    background-color: rgb(17, 19, 29);
}

.ant-menu{
    height: 100%;
}